#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.grid-child{
  border: 1px solid;
  border-radius: 15px;
  margin-top: 30px;
}

.grid-child:hover{
  background-color: whitesmoke;
  color: #212121
}